[class*="col-"]{
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
}

.container {
  background-color: pink;
}

.background {
  background-color: #f77676;
  height: 200px;
}

.container [class*="col-"] [class*="col-"]{
  border: 1px solid white;
  height: 100%;
  background-color: #f77676;
}
.bottom {
  padding: 5px;
}
